*{
    margin: 0px;
    padding: 0px;
}

body {
    overflow-x: hidden;
}

#nav1{
    background-color: rgb(114, 132, 145);
    font-weight: 600;
}

.Apply{
    animation-name: apply;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    background-color: rgb(24, 21, 20);
    color: whitesmoke;
    border-radius: 50px;
    width: 100px;
    height: 30px;
    line-height: 15px;
    border: none;
}

@keyframes apply {
    0%{
        transform: scaleX(0.8);
    }
    100%{
        transform: scaleX(1);
    }
}

#nav2{
    height: 80px;
    background-color: rgb(5, 87, 112);
    font-weight: 700;
}

.slider-container {
    position: relative;
    width: 100vw;
    height: 100vh;
    background-image: url(assests/1745854534589.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
}

.carousel {
    
    width: 100%;
    max-width: 500px;
    height: 75%;
}

.carousel-inner {
    position: absolute;
    top: 100px;
    box-shadow: 0 0px 0px rgba(0, 0, 0, 0);
}

.carousel-item img {
    width: 100%;
    height: auto;
    bottom: 0px;
}



.mssg{
    height: auto;
    width: auto;
    position: absolute;
    top: 10px;
    background-color: rgb(45, 45, 89);
    font-size: 3.2rem;
    font-weight: 800;
    text-transform: uppercase;
    color: white;
    border: 5px solid rgb(45, 45, 89);
}

.a{
    position:absolute;
    top: 95px;
    font-size: 20px;
    font-weight: 700;
    text-transform: capitalize;
    color:black;
}

#prog{
    height: auto;
    width: 90%;
    margin: auto;
    display: flex;
        justify-content: space-between;

}


#prog a{
    text-decoration: none;
    font-weight: 500;
    font-size: 1.2rem;
    color: rgb(19, 83, 178);
}

 h1{
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
}

.progr{
    height: auto;
    width: 95%;
    margin: auto;
    border-radius: 10px;
    display: flex;
    background-color: rgb(168, 186, 219);
}

.progr .z{
    height: auto;
    width: 30%;
    background-color: black;
}

.z img{
    height: 800px;
    width: 100%;
}

.e{
    width: 70%;
    height: 800px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-left: auto;
}

.e .card{
    height: 250px;
    width: 250px;
    position: relative;
    margin: 10px;
}

.card-body  a{
    position: absolute;
    top: 220px;
    left: 10px;
    text-transform: uppercase;
    font-weight: 700;
    font-size: medium;
    text-decoration: none;
}

.card-body a:hover{
        box-shadow: 1px 1px 1px 1px grey;

}

.card:hover{
    transform: scale(1.05);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

#accordion{
    margin: 10px;
    
}

.rec{
    width:auto;
    height: 120px;
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
}

.rec img{
    height: 100px;
    width: 100px;
}

.rec img{
    animation-name: transl;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-direction: alternate-reverse;
       
}

@keyframes transl {
    0%{
    height: 0px;
    width: 0px;
    }
    100%{
    height: 100px;
    width: 100px;
    }

}

.gallery{
    width: 95%;
    height: auto;
    margin: 20px auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    padding: 20px;
}

.gallery-item{
    height: 300px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    box-shadow: 8px 1px 10px grey;
    border-radius: 15px;
    position: relative;
    transition: transform 0.3s ease;
}

.gallery-item:hover{
    transform: scale(0.95);
}

.gallery-item p{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 25px;
    color: white;
    font-weight: 300;
    text-align: center;
    position: absolute;
    bottom: 15px;
    left: 50%;
    transform: translateX(-50%);
    text-shadow: 2px 2px 5px grey;
    width: 90%;
}

.fes{
    background-image: url(https://www.marwadiuniversity.ac.in/wp-content/uploads/2025/08/festival.png);
}

.CampusBeats{
    background-image: url(https://www.marwadiuniversity.ac.in/wp-content/uploads/2025/08/campus-beat.png);
}

.Sports{
    background-image: url(https://www.marwadiuniversity.ac.in/wp-content/uploads/2025/08/sports.png);
}

.CulturalFestivals{
    background-image: url(https://www.marwadiuniversity.ac.in/wp-content/uploads/2025/07/cultural-festival.jpg);
}

.MUfest{
    background-image: url(https://www.marwadiuniversity.ac.in/wp-content/uploads/2025/07/mu-fest.jpg);
}

.StudentClubs{
    background-image: url(https://www.marwadiuniversity.ac.in/wp-content/uploads/2025/07/student-club.jpg);
}

.Cafeteria{
    background-image: url(https://www.marwadiuniversity.ac.in/wp-content/uploads/2025/08/cafeteria.png);
}

.Advancedlabs{
    background-image: url(https://www.marwadiuniversity.ac.in/wp-content/themes/marwadi-university/assets/img/9-img.jpg);
}

footer{
    background-color: rgb(169, 169, 218);
}
.footer-content{
    max-width: 1200px;
    display: flex;
    justify-content: space-around;
}
.footer-section h3{
    display: inline;
    color: rgb(13, 13, 13);
    font-size: 1.5rem;
    text-transform: uppercase;
}

.footer-content iframe{
    height: 150px;
    width: 500px;
}
.footer-section p{
    margin: 8px 0;
    line-height: 1.6;
}
.footer-section1 h3{
    color: black;
    font-size: 20px;
  margin-top: 20px;
}
.footer-section,.footer-section1 ul{
    list-style: none;
    padding: 0;
}

.footer-section,.footer-section1 ul li{
    margin: 8px 0;
}

.footer-section1 a{
    text-decoration: none;
    color: rgb(65, 62, 62);
}
.footer-bottom{
    text-align: center;
    padding-top: 20px;
    border-top: 1px solid rgba(255, 255, 255, 0.2);
}

.footer-bottom p{
    margin: 0;
}


/*MEDIA QUERIES*/

@media screen and (min-width: 1400px) and (max-width: 1600px) {
    #nav2 .navbar-nav {
        gap: 3rem;
    }

     .carousel {
        max-width: 548px;
        height: 60%;
    }

    .carousel-inner {
        top: 27px;
    }
}

@media screen and (min-width: 1200px) and (max-width: 1399px) {
    #nav2 .navbar-nav {
    }
    
    #nav2 .nav-link {
        font-size: 0.95rem;
    }

    .carousel {
        max-width: 700px;
        height: 60%;
    }

    .carousel-inner {
        top: 260px;
    }
}

@media screen and (min-width: 993px) and (max-width: 1199px) {
    #nav2 .navbar-nav {
        gap: 1.5rem;
    }
    
    #nav2 .nav-link {
        font-size: 12px;
    }

     .carousel {
        max-width: 700px;
        height: 60%;
    }

    .carousel-inner {
        top: 260px;
    }
}

@media screen and (max-width: 992px) {
    .slider-container {
        height: 80vh;
    }


     .carousel {
        max-width: 350px;
        height: 60%;
    }

    .carousel-inner {
        top: 55px;
    }

   
    .mssg {
        font-size: 20px;
        width: 80%;
        text-align: center;
    }

    .a {
       font-size: 20px;
       width: 80%;
       margin-top: 30px;
       text-align: center;
    
    }

    .progr {
        flex-direction: column;
    }

    .progr .z {
        width: 100%;
        min-width: 100%;
    }

    .z img {
        height: 500px;
    }

    .e {
        width: 100%;
        margin-left: 0;
        height: auto;
        padding: 20px;
    }

    .e .card {
        width: calc(33.33% - 20px);
        min-width: 200px;
    }
}

@media screen and (max-width: 768px) {
    #nav2 {
        height: auto;
        padding: 10px 0;
    }

    .navbar-brand img {
        width: 150px !important;
        height: 60px !important;
    }

    .slider-container {
        height: 70vh;
    }

    .carousel {
        max-width: 240px;
        height: 40%;
    }

    .carousel-inner {
        top: 70px;
    }

    .mssg {
        font-size: 2rem;
        width: 85%;
    }

    .a {
        margin-top: 40px;
        font-size: 16px;
        top: 90px;
        width: 85%;
    }

    #prog {
        flex-direction: column;
        align-items: center;
        gap: 10px;
    }

    #prog a {
        font-size: 1rem;
        display: block;
        text-align: center;
        width: 100%;
        max-width: 300px;
    }

    .e .card {
        width: calc(50% - 20px);
        min-width: 180px;
    }

    .rec {
        height: auto;
        padding: 20px 10px;
    }

    .rec img {
        height: 80px;
        width: 80px;
        margin: 10px;
    }

    @keyframes transl {
        0% {
            height: 0px;
            width: 0px;
        }
        100% {
            height: 80px;
            width: 80px;
        }
    }

    .gallery {
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
        gap: 15px;
    }

    .gallery-item {
        height: 250px;
    }

    .gallery-item p {
        font-size: 22px;
    }

    .footer-content {
        flex-wrap: wrap;
    }

    .footer-content iframe {
        width: 100%;
        max-width: 100%;
        height: 200px;
    }

    .footer-section,
    .footer-section1 {
        min-width: 100%;
    }
}

@media screen and (min-width:400px) and (max-width:430px) {

    .a{
        margin-top: 80px;
        font-size: 14px;
    }
    
} 


@media screen and (max-width: 400px) {
    
    .navbar-brand img {
        width: 100px;
        height: 45px;
    }

    .slider-container {
        height: 55vh;
        }

    .carousel {
        max-width: 222px;
        height: 45%;
    }

    .carousel-inner {
        top: 30px;
    }

    .mssg {
        font-size: 1.2rem;
        top: 12px;
        padding: 6px;
    }

    .a {
        margin-top: 40px;
        font-size: 12px;
        top: 55px;
    }

    h1 {
        font-size: 1.3rem;
    }

    #prog a {
        font-size: 0.85rem;
    }

    .z img {
        height: 350px;
    }

    .e .card {
        max-width: 250px;
        height: 210px;
    }

    .card-body a {
        top: 180px;
        font-size: 12px;
    }

    .rec img {
        height: 60px;
        width: 60px;
    }

    @keyframes transl {
        0% {
            height: 0px;
            width: 0px;
        }
        100% {
            height: 60px;
            width: 60px;
        }
    }

    .gallery-item {
        height: 200px;
    }

    .gallery-item p {
        font-size: 18px;
    }

    .footer-section h3 {
        font-size: 1.1rem;
    }

    .footer-section1 h3 {
        font-size: 16px;
    }

    .footer-content iframe {
        height: 160px;
    }
}